{% extends 'base.html.twig' %}

{% block body %}

    {% if pagination is defined and pagination.items|length %}




    {% for post in pagination.items %}
       <h1>{{ post.title }}</h1>
        <p>{{ post.content }}</p>
        <p>{{ post.createdAt|date('d-m-Y')}} +++ <a href="{{ url('post_edit',{id:post.id}) }}">EDYTUJ</a> +++ <a href="{{ url('post_delete',{id:post.id}) }}">USUŃ</a> </p>
    {% endfor %}


<br><br>
    <div class="navigation text-center">
        {{ knp_pagination_render(pagination) }}
    </div>

    {% else %}
        <p>
            {{ 'message_empty_list'|trans }}
        </p>
    {% endif %}
{% endblock %}