{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_post_details' }}
{% endblock %}

{% block body %}
    <h1>{{  post.title }}</h1>
    {% if post is defined and post|length %}
        <dl class="dl-horizontal">
            {{ 'label_created_at'|trans }} {{ post.createdAt|date('d/m/Y') }}

            <dd>{{  post.content }}</dd>
        </dl>


       <p>
            <a href="{{ url('posts') }}" title="{{ 'action_back_to_list'|trans }}">
                {{ 'action_back_to_list'|trans }}
            </a>
        </p>
    {% else %}
        <p>
            {{ 'message_item_not_found'|trans }}
        </p>
    {% endif %}

    {{ form(form) }}

    <h4>{{ 'label_comments'|trans }}</h4>
    {% for comment in post.comments %}
<div style="border: dotted; border-color: #000000; width: 600px;">
        <p style="padding: 3px 0px 0px 5px;"><b>{{ 'label_nick'|trans }}{{ comment.nick }}</b></p>
        <p style="padding: 3px 0px 0px 5px;"><i>{{ 'label_email'|trans }}{{ comment.email }}</i></p>
        <p style="padding: 30px 30px 30px 30px;">{{ 'label_content'|trans }}{{ comment.content }}</p>
    {% if is_granted('ROLE_ADMIN') %}
        <p><a href="{{ url('comment_delete',{id:comment.id}) }}">{{ 'label_delete'|trans }}</a> </p>
    {% endif %}

</div>
<hr style="color: red;">
    {% endfor %}


{% endblock %}